<div class="banner text-center" style="background-image:url(<%= @cocktail.picture.url(:medium) %>)">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <%= link_to new_cocktail_dose_path(@cocktail), {class: "btn btn-primary"} do %>
        <h5>Add new dose to <%= @cocktail.name %></h5>
      <% end %>
  </div>
</div>


<div class="container">
    <div class="row">
      <% @cocktail.doses.each do |dose|%>
        <div class="col-xs-6 text-center">
          <p>
            <%= dose.description %> <%= dose.ingredient.name %>
          </p>
        </div>
        <div class="col-xs-6 text-center">
          <%= link_to dose_path(dose) do %>
            <p>delete this dose</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
